body{

  color: #black;
  width: 100%;
}
.navbar{
  height: 7rem;
}
.navbar>.container-fluid{
  background-color: #212529;
}
.nav-link {
  margin: auto 12px;
}

  .container-fluid{
  padding: 1% 10% 0% 4%;
 -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.ms-auto{
  text-align: center;
}
.logo{
  height: 50px;width: 35px;
}
.carousel {
  margin: 3rem 0 1rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 30rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/*equipe*/
.team-banner{
  margin-top: 110px;
    padding: 60px 0 84px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: -1;
    color: #ffffff;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    font-size: 53px;
}
@media (max-width: 880px) {
  .team-banner{
    margin-top: 94px;
padding: 60px 0 40px;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
position: relative;
z-index: -1;
color: #fff6e6;
font-family: 'IBM Plex Serif', serif;
text-align: center;
font-size: 27px;
  }
}
.notre-equipe{
  text-align: center;
  margin: 100px auto;
}
.notre-equipe hr{
  width: 10%;
    margin: 22px auto;
    color: black;
}
.team{
  border:1px solid #eeeeee;
}
.team-description{
  text-align: center;
    padding: 25px 20px 30px;
}
.nom{
  font-size: 24px;
  margin-bottom: 10px;
}
.team:hover{box-shadow: 0 0 7px 1px black;}
