body{

  color: #black;
}
.container-fluid{
  padding: 1% 10% 0% 4%;
  background-color: #ffffff;
 -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}
.navbar{
  padding:0 0 2rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size:2rem;
  font-weight: bold;
  color: black;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Akshar';color: #000000;

}
.navbar-nav > li {
  float: left;
  position: relative;


}
.nav a.active {
  text-decoration: underline;
}
.nav-link.active{
  color: #ffc107;
  border-bottom: 3px solid #ffc107;
}
.carousel-item{
  height: 500px;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #fff;
    border:1px solid #ffc107;
}
.navbar-toggler .line{
  width: 100%;
    float: left;
    height: 2px;
    background-color: #ffc107;
    margin-bottom: 6px;
    margin-top: 1px;
}
